{{ form_start(form) }}
    <div class="row mt-5">
        <div class="col-12">
            {{ form_row(form.imageFile) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_row(form.name) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_row(form.realized) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_row(form.shortDescription) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_row(form.longDescription) }}
        </div>
    </div>
    <div class="row" hidden>
        <div class="col-12">
            {{ form_row(form.profil) }}
        </div>
    </div>
    
    <div class="row text-right mt-2">
        <div class="col-12">
            <a  href="{{ path('homePageUser') }}" class="btn btn-primary">Annuler</a>
            <button type="submit" class="btn btn-primary">{{ button|default('Valider') }}</button>
        </div>
    </div>

{{ form_end(form) }}
    