{{ form_start(form) }}
    <div class="row mt-5">
        <div class="col-12">
            {{ form_row(form.name) }}
        </div>
    </div>
    <div class="row" hidden>
        <div class="col-12">
            {{ form_row(form.project) }}
        </div>
    </div>
    <div class="row text-right mt-2">
        <div class="col-12">
            <a  href="{{ path('user.project.edit', {id : techno.project.id}) }}" class="btn btn-primary">Annuler</a>
            <button type="submit" class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
        </div>
    </div>
{{ form_end(form) }}